@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'sans-serif';
    box-sizing: border-box;
}

html {
    background-color: #180C24;
}

main {
    background-color: #180C24;
    color: white;

    display: flex;

    height: 100vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
}

.left-login {
    display: flex;

    width: 50vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #77ffc0;
    font-size: 3vw;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    display: flex;

    width: 50vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.card-login {
    background-color: #2f2841;

    display: flex;

    width: 60%;
    padding: 30px 35px;
    
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login  h1 {
    color: #00ff88;

    font-weight: 800;
    text-align: center;
    letter-spacing: .1em;
}

form {
    width: 100%;
}

.textfield {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    margin: 20px 0px;
}

.textfield > input {
    background-color: #514869;
    color: #f0ffffde;

    width: 100%;

    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
    outline: none;

    font-size: 1em;

    padding: 15px;
}

.textfield > label {
    color: #f0ffffde;

    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.login-button {
    background-color: #00ff88;
    color: #2b134b;

    width: 100%;

    padding: 16px 0px;
    margin: 10px 0px;

    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 10px 60px -12px #00ff8852;

    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .2em;

    cursor: pointer;

    transition: .3s ease-in-out;
}

.login-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 40px -12px #00ff88;
    color: #f0ffffde;
}

/* body {
    background-color: #00FF82;
    
    display: flex;
    align-items: center;
}

form {
    background-color: #301E43;

    display: flex;

    height: 400px;
    width: 400px;
    border-radius: 30px;
    margin: auto;
    align-items: center;
}

.card-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form h1 {
    font-size: 2rem;
    font-family: Inter;
    font-weight: bold;
    letter-spacing: .1rem;
    color: #00FF82;
}

.card-login label {
    display: block;
    text-align: left;
    color: white;
}

input {
    margin: 1rem 0;;
}

input#user, input#senha {
    background-color: #59446F;

    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    height: 3rem;
    width: 90%;
    color: rgba(255, 255, 255, 0.432);
    padding-left: 1rem;

}

input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    opacity: 0;
    transform: translateY( 20px);
}

.login-button {
    background-color: #00FF82;

    color: #180C24;
    font-size: 1rem;
    border-radius: 15px;
    border: none;

    height: 3rem;
    width: 90%;
    margin-top: 1rem;

    font-family: Inter;
    font-weight: bold;

}

button {
    font-weight: 900;
    letter-spacing: .2rem;
    box-shadow: 0px 5px 15px rgba(0, 255, 255, 0.5);
}

button:hover {
    cursor: pointer;
} */